.accountHeader {
  position: relative;
  height: 500px;
  background: url('../media/white_wall_hash.png');
  background-position: center;
  background-attachment: fixed;
  @include flexbox(column, center, center);

  .accountButtonsWrapper {
    height: 17.5%;
    width: 100%;
    @include flexbox(row, flex-end, center);

    > div {
      margin-top: 35px;
      height: 100%;
      width: 35%;
      @include flexbox(row, space-around, center);

      > a {
        @include transition;
      }

      > a:first-of-type {
        width: 150px;
        height: 50px;
        background-color: $green;
        color: $wt2;
        @include flexbox(row, center, center);

        &:hover {
          background-color: $lightgreen;
        }
      }

      > a:last-of-type {
        &:hover {
          color: $green;
        }
      }
    }
  }

  .accountProfileInfo {
    height: 51.25%;
    width: 100%;
    @include flexbox(row, center, center);

    a {
      @include flexbox(column, center, center);

      img {
        border-radius: 50%;
        box-shadow: 0px 1px 5px 1px black;
        margin-bottom: 10px;
      }
    }
  }

  .accountProfileStats {
    height: 31.25%;
    width: 100%;
    padding: 0 2.5%;
    @include flexbox(row, center, center);

    > div {
      height: 100%;
      width: 33.33%;
      text-align: center;
      @include flexbox(column, center, center);

      > div:first-of-type {
        @include flexbox(row, center, center);
        margin-bottom: 2.5px;

        > div {
          font-size: 0.75rem;
          font-family: $sans;
          font-weight: lighter;
          color: $green;
          padding: 10px;
          width: 87.5px;
          height: 87.5px;
          border-radius: 50%;
          border: 1px solid $green;
          @include flexbox(row, center, center);
        }
      }

      > div:last-of-type {
        margin-top: 2.5px;
        font-family: $sans;
        font-size: 0.85rem;
        font-weight: lighter;
        color: $green;
      }
    }
  }
}

.accountNav {
  @include flexbox(row, center, center);
  height: 75px;
  width: 100vw;
  @include transition;
  border-bottom: 2px solid $green;

  .navBtn {
    @include flexbox(row, center, center);
    width: 100%;
    color: $wt2;
    background-color: $darkgray;
    height: 100%;
    @include transition;
  }

  .navBtnActive {
    @include flexbox(row, center, center);
    width: 100%;
    color: $wt2;
    background-color: $lightblack;
    height: 100%;
    @include transition;
  }

  .navBtn:hover {
    background-color: $lightblack;
    cursor: pointer;
  }
  .navBtn:active {
    background-color: $darkblack;
    cursor: pointer;
  }

  .navBtnActive:hover {
    background-color: $lightblack;
    cursor: pointer
  }
  .navBtnActive:active {
    background-color: $darkblack;
    cursor: pointer
  }
}

.infoWrap {
  min-height: 800px;
  width: 100vw;
  background: url('../media/triangles.png');

  .accountInfo {
    color: whitesmoke;
  }

  .accountLibrary {
    color: whitesmoke;
  }

  .info {
    width: 100%;
    height: 100%;
  }

}

.siteTitleAccount {
  font-family: $sans;
  font-size: 2rem;
  font-weight: bolder;
  top: 25px;
  left: 2.5%;
  position: absolute;
  z-index: 1;
  color: white;

  text-shadow: $green .01em .01em 0, $green .02em .02em 0, $green .03em .03em 0, $green .04em .04em 0, $green .05em .05em 0, $green .06em .06em 0, $green .07em .07em 0, $green .08em .08em 0, $green .09em .09em 0, $green .1em .1em 0;
}

// FEED //

.feedPostBlock {
  height: 300px;
  width: 100%;
  margin: 0 auto 10px;
  background-color: whitesmoke;
  @include flexbox(row, center, center);

  &:last-of-type {
    margin-bottom: 0;
  }

  > div {
    width: 25%;
    height: 100%;
  }

  > div:nth-of-type(2) {
    width: 50%;
  }

  .feedPostImage {
    @include flexbox(row, center, center);

    img {
      border-radius: 50%;
    }
  }

  .feedPostInfo1 {
    padding: 25px 0;
    @include flexbox(column, center, center);

    .feedPostName {
      height: 25%;

      h4 {
        font-size: 1.25rem;
      }
    }

    .feedPostDescription {
      height: 75%;
      overflow: hidden;
    }
  }

  .feedPostInfo2 {
    text-align: right;
    @include flexbox(column, space-between, center);

    > div {
      width: 100%;
      padding-right: 5px;
      font-size: 0.85rem;
      color: $ddt;

      &:nth-of-type(2) {
        padding-right: 0;
        text-align: center;
        font-size: 2rem;
        color: $green;
        @include flexbox(row, space-around, center);

        > i {
          @include transition;
          &:hover {
            color: $lightgreen;
          }
        }
      }
    }
  }
}

// LIBRARY //

.libraryWrapper {
  padding: 50px 0;
  width: 80%;
  margin: 0 auto;
  @include flexbox(row, flex-start, center);
  flex-wrap: wrap;

  > div {
    width: 33.33%;
    @include flexbox(row, center, center);
    flex-wrap: wrap;

    > a {
      color: $wt2;
      position: relative;
      display: inline-block;
      height: 175px;
      width: 250px;
      margin-bottom: 25px;
      background-color: $darkgray;
      @include transition;

      &:hover {
        background-color: $green;
      }

      > div:first-of-type {
        height: 60%;

        img {
          height: 100%;
          width: 100%;
        }
      }

      > div:last-of-type {
        display: table;
        overflow: hidden;
        height: 40%;
        width: 100%;
        font-size: .75rem;
        font-family: "Roboto", sans-serif;
        padding: 5px;

        > div {
          max-width: 240px;
          display: table-cell;
          text-align: center;
          vertical-align: middle;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }
    }
  }
}

// FOOTER //
.loginFooter {
  background-color: $darkblack;
  color: $wt;
  font-size: 0.6rem;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
