.accountHeader {
  position: relative;
  height: 500px;
  background: url('../media/white_wall_hash.png');
  background-position: center;
  background-attachment: fixed;
  @include flexbox(column, center, center);

  #accountLevel {
    margin-top: 5px;
    margin-bottom: 0;
    font-size: .6em;
    color: #828282;
  }

  .accountButtonsWrapper {
    height: 17.5%;
    width: 100%;
    @include flexbox(row, space-between, center);

    > div:first-of-type {
      height: 100%;
      width: 20%;

       > a {
         height: 100%;
         @include flexbox(row, center, center);
       }
    }

    > div:last-of-type {
      height: 100%;
      width: 35%;
      @include flexbox(row, space-around, center);

      > a {
        @include transition;
      }

      > a:first-of-type {
        width: 150px;
        height: 50px;
        background-color: $green;
        color: $wt2;
        @include flexbox(row, center, center);

        &:hover {
          background-color: $lightgreen;
        }
      }

      > a:last-of-type {
        &:hover {
          color: $green;
        }
      }
    }
  }

  .accountProfileInfo {
    height: 51.25%;
    width: 100%;
    @include flexbox(row, center, center);

    a {
      @include flexbox(column, center, center);

      &:hover {
        h2 {
          color: $green;
        }

        img {
          box-shadow: 0px 0px 1px 5px $green;
        }

      }

      h2 {
        @include transition;
      }

      img {
        border-radius: 50%;
        box-shadow: 0px 1px 5px 1px black;
        margin-bottom: 10px;
        @include transition;
      }
    }
  }

  .accountProfileStats {
    height: 31.25%;
    width: 100%;
    max-width: 1200px;
    padding: 0 2.5%;
    @include flexbox(row, center, center);

    > div {
      height: 100%;
      width: 33.33%;
      text-align: center;
      @include flexbox(column, center, center);

      > div:first-of-type {
        @include flexbox(row, center, center);
        margin-bottom: 2.5px;

        > div {
          font-size: 0.75rem;
          font-family: $sans;
          font-weight: lighter;
          color: $green;
          padding: 10px;
          width: 87.5px;
          height: 87.5px;
          border-radius: 50%;
          border: 1px solid $green;
          @include flexbox(row, center, center);
        }
      }

      > div:last-of-type {
        margin-top: 2.5px;
        font-family: $sans;
        font-size: 0.85rem;
        font-weight: lighter;
        color: $green;
      }
    }
  }
}

.accountNav {
  height: 75px;
  width: 100vw;
  border-bottom: 2px solid $green;
  font-family: $sans;
  @include flexbox(row, center, center);
  @include transition;

  .navBtn {
    width: 100%;
    color: $wt2;
    background-color: $darkgray;
    height: 100%;
    @include transition;
    @include flexbox(row, center, center);
  }

  .navBtnActive {
    width: 100%;
    color: $wt2;
    background-color: $lightblack;
    height: 100%;
    @include transition;
    @include flexbox(row, center, center);
  }

  .navBtn:hover {
    background-color: $lightblack;
    cursor: pointer;
  }
  .navBtn:active {
    background-color: $darkblack;
    cursor: pointer;
  }

  .navBtnActive:hover {
    background-color: $lightblack;
    cursor: pointer
  }
  .navBtnActive:active {
    background-color: $darkblack;
    cursor: pointer
  }
}

.infoWrap {
  min-height: 800px;
  width: 100vw;
  background: url('../media/triangles.png');

  .accountInfo {
    color: whitesmoke;
  }

  .accountLibrary {
    color: whitesmoke;
  }

  .info {
    width: 100%;
    height: 100%;
  }

}

.siteTitleAccount {
  font-family: $sans;
  font-size: 2rem;
  font-weight: bolder;
  top: 25px;
  left: 2.5%;
  position: absolute;
  z-index: 1;
  color: white;

  text-shadow: $green .01em .01em 0, $green .02em .02em 0, $green .03em .03em 0, $green .04em .04em 0, $green .05em .05em 0, $green .06em .06em 0, $green .07em .07em 0, $green .08em .08em 0, $green .09em .09em 0, $green .1em .1em 0;
}

// FEED //

.accountPosts {
  padding: 25px 0;
}

.accountPostBlock {
  height: 200px;
  width: 920px;
  margin: 0 auto 25px;
  background-color: $wt2;
  @include flexbox(row, center, center);

  &:last-of-type {
    margin-bottom: 0;
  }

  div {
    height: 100%;
    width: 100%;
  }

  // div containing user and description blocks
  > div:first-of-type {
    @include postImageCalc("width", "100% - #{$postImageWidth}");
    @include flexbox(column, center, center);

    // post user block
    > div:first-of-type {
      height: 25%;

      > a {
        display: inline-block;
        width: 100%;
        height: 100%;
        @include transition;

        &:hover {
          background-color: $green;

          > div {
            border-color: $green;
            color: $wt2;
          }
        }

        > div {
          width: 85%;
          margin: 0 auto;
          border-bottom: 2px solid $lightgray;
          @include flexbox(row, center, center);
          @include transition;

          > img {
            height: 40px;
            width: 40px;
            border-radius: 50%;
            margin-right: 5px;
          }

          > h4 {
            margin-left: 5px;
          }
        }
      }
    }

    // post description block
    > div:last-of-type {
      height: 75%;
      width: 85%;
      padding: 5px 0 0;
      overflow: hidden;
      font-size: 0.98rem;
      border-bottom: 0.98rem solid $wt2;
      word-wrap: break-word;

      .queryTimestamp {
        display: none;
      }
    }
  }

  // div containing game, steam link, and timestamp blocks
  > div:last-of-type {
    width: $postImageWidth;
    position: relative;
    @include flexbox(column, center, center);

    // game block
    > div:first-of-type {
      position: absolute;
      top: 0;
      height: 25%;
      overflow: hidden;

      a {
        display: inline-block;
        height: 100%;
        width: 100%;
        text-align: right;
        overflow: hidden;

        img {
          height: 100%;
          width: 100%;
        }
      }
    }

    // steam link block
    > div:nth-of-type(2) {
      height: 100%;
      @include flexbox(row, center, center);

      > a {
        display: none;
      }

      i {
        cursor: pointer;
        color: $red;
        font-size: 1.5rem;
        @include transition;

        &:hover {
          color: $lightred;
        }
      }
    }

    // timestamp block
    > div:last-of-type {
      height: 25%;
      position: absolute;
      bottom: 10px;
      @include flexbox(row, center, flex-end);
      font-size: 0.575rem;
      color: gray;
    }
  }
}

// LIBRARY //

.libraryWrapper {
  padding: 50px 0;
  width: 80%;
  margin: 0 auto;
  @include flexbox(row, flex-start, center);
  flex-wrap: wrap;

  > div {
    width: 33.33%;
    @include flexbox(row, center, center);
    flex-wrap: wrap;

    > a {
      color: $wt2;
      position: relative;
      display: inline-block;
      height: 175px;
      width: 250px;
      background-color: $darkgray;
      @include transition;

      &:hover {
        background-color: $green;
      }

      > div:first-of-type {
        height: 60%;

        img {
          height: 100%;
          width: 100%;
        }
      }

      > div:last-of-type {
        display: table;
        overflow: hidden;
        height: 40%;
        width: 100%;
        font-size: .75rem;
        font-family: "Roboto", sans-serif;
        padding: 5px;

        > div {
          max-width: 240px;
          display: table-cell;
          text-align: center;
          vertical-align: middle;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }
    }
  }
}

#totalTime {
  text-align: center;
  font-size: .5em;
  width: 100%;
  color: rgb(130, 130, 130);
  margin-bottom: 30px;
  margin-top: 5px;
}

// FOOTER //
.loginFooter {
  background-color: $darkblack;
  color: $wt;
  font-size: 0.6rem;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
