/**************************
HEADER
**************************/

.feedHeader {
  background-image: url('../media/tetris.jpg');
  background-position: 50% 55%;
  position: relative;
  height: 500px;
  color: $wt;
  @include flexbox(row, center, center);

  .feedHeaderBlock {
    height: 70%;
    width: 90%;
    margin: 0 auto;
    @include flexbox(row, space-between, center);

    > div {
      width: 25%;
      height: 100%;
    }

    > div:nth-of-type(2) {
      width: 50%;
    }

    .feedHeader1 {
      @include flexbox(column, center, center);

      .feedUserImage {

        img {
          border-radius: 50%;
        }
      }
    }

    .feedHeader2 {
      @include flexbox(column, center, center);

      > div {
        @include flexbox(column, stretch, center);
      }

      .feedUserName {
        height: 25%;
        justify-content: center;
      }

      .feedUserDescription {
        height: 75%;
        max-height: 75%;
        padding: 10px;
        overflow: hidden;
        justify-content: flex-start;
      }
    }

    .feedHeader3 {
      @include flexbox(column, center, center);

      button {
        height: 50%;
        width: 95%;
        margin: 0 auto;
        font-size: 4rem;
        font-family: $sans;
        background-color: $green;
        border: none;
        @include transition;

        &:hover {
          background-color: $lightgreen;
        }
      }
    }
  }
}

/**************************
MAIN
**************************/

nav {
  height: 75px;
  @include flexbox(row, center, center);

  > div {
    height: 100%;
    width: 50%;
    background-color: $lightblack;
    font-size: 2rem;
    font-family: $sans;
    color: $wt;
    @include flexbox(row, center, center);
  }

  > div:first-of-type {
    background-color: $darkgray;
  }
}

/**************************
MAIN
**************************/

.feedMain {
  position: relative;
  min-height: 800px;
  height: 800px;

  .feedContent {
    height: 100%;
    @include flexbox(row, center, center);

    > * {
      height: 100%;
    }

    aside {
      width: 25%;
      background-color: blue;
    }

    section {
      width: 75%;
      background-image: url('../media/triangles.png');
    }
  }
}

/**************************
FOOTER
**************************/

.loginFooter {
  background-color: $darkblack;
  color: $wt;
  font-size: 0.6rem;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
