/**************************
HEADER
**************************/

.feedHeader {
  background-image: url('../media/white_wall_hash.png');
  background-position: 50% 55%;
  position: relative;
  height: 100px;
  color: $wt2;
  @include flexbox(row, center, center);

  .feedHeaderBlock {
    height: 100%;
    @include flexbox(row, center, center);

    > div {
      height: 100%;
      width: 20%;
      @include flexbox(row, center, center);
    }

    .feedHeaderImage {
      img {
        box-sizing: content-box;
        position: relative;
        top: 12.5px;
        height: 125px;
        width: 125px;
        border-radius: 50%;
        @include transition;
      }
      img:hover {
        box-shadow: 0px 0px 1px 2px $green;
      }
    }

    .feedHeaderName,
    .feedHeaderPost,
    .feedHeaderLogout {
      a {
        height: 50%;
        width: 50%;
        @include flexbox(row, center, center);
        @include transition;

        &:hover {
          color: $green;
        }
      }
    }

    .feedHeaderPost {
      a {
        background: $green;
        color: $wt2;

        &:hover {
          background: $lightgreen;
          color: white;
        }
      }
    }
  }
}

/**************************
MAIN
**************************/

nav {
  height: 75px;
  @include flexbox(row, center, center);

  > div {
    height: 100%;
    width: 50%;
    background-color: $lightblack;
    font-size: 2rem;
    font-family: $sans;
    color: $wt;
    @include flexbox(row, center, center);
  }

  > div:first-of-type {
    background-color: $darkgray;
  }
}

/**************************
MAIN
**************************/

.feedAside {
  background-color: $lightgray;
  @include flexbox(row, center, center);

  > div {
    width: 50%;
  }
}

/**************************
MAIN
**************************/

.feedMain {
  position: relative;
  min-height: 800px;
  height: 800px;

  .feedContent {
    height: 100%;
    @include flexbox(row, center, center);

    > * {
      height: 100%;
    }

    section {
      width: 100%;
      background-image: url('../media/triangles.png');
      overflow: scroll;
      padding-top: 25px;

      .feedPostBlock {
        height: 200px;
        width: 80%;
        margin: 0 auto 25px;
        background-color: $wt2;
        @include flexbox(row, center, center);

        &:last-of-type {
          margin-bottom: 0;
        }

        div {
          height: 100%;
          width: 100%;
        }

        // div containing user and description blocks
        > div:first-of-type {
          @include postImageCalc("width", "100% - #{$postImageWidth}");
          @include flexbox(column, center, center);

          // post user block
          > div:first-of-type {
            height: 25%;

            > a {
              display: inline-block;
              width: 100%;
              height: 100%;
              @include transition;

              &:hover {
                background-color: $green;

                > div {
                  border-color: $green;
                  color: $wt2;
                }
              }

              > div {
                width: 85%;
                margin: 0 auto;
                border-bottom: 2px solid $lightgray;
                @include flexbox(row, center, center);
                @include transition;

                > img {
                  height: 40px;
                  width: 40px;
                  border-radius: 50%;
                  margin-right: 5px;
                }

                > h4 {
                  margin-left: 5px;
                }
              }
            }
          }

          // post description block
          > div:last-of-type {
            height: 75%;
            width: 85%;
            padding: 5px 0 0;
            overflow: hidden;
            font-size: 0.98rem;
            border-bottom: 0.98rem solid $wt2;
            word-wrap: break-word;
          }
        }

        // div containing game, steam link, and timestamp blocks
        > div:last-of-type {
          width: $postImageWidth;
          position: relative;
          @include flexbox(column, center, center);

          // game block
          > div:first-of-type {
            position: absolute;
            top: 0;
            height: 25%;
            overflow: hidden;

            a {
              display: inline-block;
              height: 100%;
              width: 100%;
              text-align: right;
              overflow: hidden;

              img {
                height: 100%;
                width: 100%;
              }
            }
          }

          // steam link block
          > div:nth-of-type(2) {
            height: 100%;
            @include flexbox(row, center, center);

            > a {
              > i {
                font-size: 2.5rem;
                color: $green;
                @include transition;

                &:hover {
                  color: $lightgreen;
                }
              }
            }
          }

          // timestamp block
          > div:last-of-type {
            height: 25%;
            position: absolute;
            bottom: 0;
            @include flexbox(row, center, flex-end);
            font-size: 0.575rem;
            color: gray;
          }
        }
      }
    }
  }
}

.siteTitleFeed {
  top: 2%;
  left: 1.5%;
  position: absolute;
  z-index: 1;

  img {
    height: 75px;
    width: 225px;
  }
}

/**************************
FOOTER
**************************/

.loginFooter {
  background-color: $darkblack;
  color: $wt;
  font-size: 0.6rem;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
