/**************************
HEADER
**************************/

.loginHeader {
  position: relative;
  height: 500px;

  > div:first-of-type {
    height: 100px;

    > div {
      height: 100%;
      width: 20%;
    }
  }

  .video {
   position: fixed;
   top: 50%; left: 50%;
   min-width: 100%;
   width: 1400px;
   height: 1000px;
   z-index: -100;
   transform: translate(-50%, -50%);
  }

  > div:last-of-type {
    font-family: $sans;
    border: 5px solid $green;
    color: $wt;
    position: absolute;
    height: 100px;
    background-color: $lightblack;
    width: 300px;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    bottom: -50px;
    @include flexbox(column, space-around, center);

    &:hover > a {
      opacity: 0;
    }

    span {
      font-size: 0.5rem;
    }

    img {
      height: 40%;
      width: 75%;
    }

    > a {
      color: $wt2;
      opacity: 1;
      transition: all .25s ease;
      -webkit-transition: all .25s ease;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: $green;
      font-size: 2rem;
      @include flexbox(row, center, center);
    }
  }
}

/**************************
MAIN
**************************/

.loginMain {
  background-image: url('../media/triangles.png');
  border-top: 5px solid $green;
  padding-top: 100px;
  padding-bottom: 100px;

  // mainWrapper
  > div {
    width: 85%;
    max-width: 1200px;
    margin: 0 auto;
    @include flexbox(row, space-around, stretch);

    // loginInfoBlock
    > div {
      @include flexbox(column, space-between, center);
      color: $wt;
      width: 32%;
      height: 300px;

      .loginInfoImage {
        padding-top: 10px;
        text-align: center;
        @include flexbox(row, center, center);

        .loginPicture {
          height:200px;
          width: 200px;
          border-radius: 50%;
          border: 1px solid $green;
          box-shadow: 0px 5px 20px 0px black;
        }

        #picture1 {
          background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.4)),
                      url('https://teamfortressnerd.files.wordpress.com/2014/07/tp9cebi.jpg');
          background-size: cover;
          background-position: 58.5%;
          background-repeat: no-repeat;
        }

        #picture2 {
          background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.4)),
                      url('http://assets.vice.com/content-images/contentimage/177945/PORTAL-2.jpg');
          background-size: cover;
          background-position: 48%;
          background-repeat: no-repeat;
        }

        #picture3 {
          background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.2)),
                      url('http://img03.bgstatic-com.de/images/documents/documents/2853/modulecontent/612x0/en_dota2_localplay.jpg');
          background-size: cover;
          background-position: 73%;
          background-repeat: no-repeat;
        }

      }

      .loginInfoContent {
        padding: 10px 5px;
        font-size: 1.2rem;
      }
    }
  }
}
