/**************************
HEADER
**************************/

.postHeader {
  background-image: url('../media/white_wall_hash.png');
  background-position: 50% 55%;
  position: relative;
  height: 325px;
  color: $wt;

  > div:first-of-type {
    width: auto;
  }

  > div {
    width: 100%;
  }

  .postHeaderSearchBlock {
    height: 30%;
    padding: 0 2.5%;
    color: $pt;
    @include flexbox(row, flex-end, center);

    .postHeaderSearch {
      height: 50%;
      background-color: $wt;
      padding: 5px;
      border: 1px solid $green;
      border-radius: 10px;
      @include flexbox(row, center, center);

      > * {
        height: 100%;
      }

      input {
        background: none;
        border: 0;
        text-align: left;
        padding-left: 10px;

        &:focus {
          outline: 0;
        }
      }

      i {
        @include flexbox(row, center, center);
        margin-right: 5px;
      }
    }
  }

  .postHeaderGamesBlock {
    width: 95%;
    margin: 0 auto;
    height: 70%;
    @include flexbox(row, center, center);

    .postHeaderGamesWrapper {
      position: relative;
      height: 100%;
      padding: 25px 0;
      overflow: auto;
      overflow-y: hidden;
      white-space: nowrap;

      .postHeaderGameBlock {
        position: relative;
        display: inline-block;
        height: 175px;
        width: 250px;
        margin-right: 25px;
        background-color: $darkgray;
        cursor: pointer;
        @include transition;

        &:hover {
          background-color: $green;
        }

        &:last-of-type {
          margin-right: 0;
        }

        > i {
          display: none;
          position: absolute;
          font-size: 3rem;
          right: -18px;
          top: -36px;
          color: $green;
        }

        > div:first-of-type {
          height: 60%;

          img {
            height: 100%;
            width: 100%;
          }
        }

        > div:last-of-type {
          display: table;
          overflow: hidden;
          height: 40%;
          width: 100%;
          font-size: .75rem;
          font-family: "Roboto", sans-serif;
          padding: 5px;

          > div {
            max-width: 240px;
            display: table-cell;
            text-align: center;
            vertical-align: middle;
            text-overflow: ellipsis;
            overflow: hidden;
          }
        }
      }

      .postHeaderGameBlock.selectedGame {
        background-color: $green;

        > i {
          display: block;
        }
      }
    }
  }
}

/**************************
MAIN
**************************/

.postMain {
  background-image: url('../media/triangles.png');
  padding: 25px 0;

  .postMainBlock {
    height: 500px;
    width: 80%;
    margin: 0 auto;
    background-color: $wt2;
    @include flexbox(row, center, center);

    > div {
      height: 100%;
    }

    > div {
      height: 100%;
      width: 100%;
      @include flexbox(row, center, flex-start);
      flex-wrap: wrap;

      > div {
        width: 50%;
        height: 20%;
        font-family: $sans;
        font-size: 3.2vw;
        @include flexbox(row, center, center);
      }

      > div:first-of-type {
        a {
          height: 100%;
          width: 100%;
          background-color: $wt2;
          @include flexbox(row, center, center);
          @include transition;

          &:hover {
            color: $wt2;
            background-color: $green;
          }

          img {
            height: 75px;
            width: 75px;
            border-radius: 50%;
          }
        }

        span {
          margin-left: 10px;
        }
      }

      > div:nth-of-type(2) {
        color: $wt2;
        text-align: center;

        > span {
          height: 100%;
          width: 100%;
          background-color: $darkgray;
          @include flexbox(row, center, center);
        }

        > a {
          height: 100%;
          width: 100%;
          padding: 5px;
          color: $wt2;
          font-size: 0.95rem;
          background-color: $darkgray;
          @include transition;
          @include flexbox(row, center, center);

          &:hover {
            background-color: $green;
          }
        }
      }

      > div:last-of-type {
        width: 100%;
        height: 80%;
        font-family: $serif;
        font-size: 0.80rem;
        padding-top: 25px;
        @include flexbox(column, flex-start, center);

        textarea {
          resize: none;
          border: 2.5px solid $pt;
          background-color: $wt2;
          padding: 10px;
          width: 80%;
          height: 300px;
          margin: 12.5px auto 12.5px;
          font-size: 1.25rem;
          @include transition;

          &:focus {
            outline: 0;
            border-color: $green;
          }
        }

        #postErrorBlock {
          visibility: hidden;
          position: relative;
          height: 50px;
          min-height: 50px;
          width: 80%;
          text-align: center;
          background-color: $red;
          font-family: $sans;
          font-size: 0.75rem;
          color: $wt2;
          margin-bottom: 25px;
          @include flexbox(column, center, center);

          > span {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 10%;
            @include flexbox(row, center, center);
          }

          #postErrorGame,
          #postErrorDescription {
            display: none;
            height: 50%;
            @include flexbox(row, center, center);
          }
        }
      }
    }
  }

  .postMainSubmitBlock {
    width: 80%;
    margin: 0 auto;

    button {
      padding: 25px;
      width: 100%;
      background-color: $green;
      border: 0;
      font-size: 2rem;
      color: $wt2;
      @include transition;

      &:hover {
        background-color: $lightgreen;
      }

      &:focus {
        outline: 0;
      }
    }
  }
}
