/**************************
LOGIN PAGE
**************************/

@media screen and (max-width: 850px) {
  .loginHeader {
    // loginHeaderLogoWrapper
    > div:first-of-type {
      // SVG block
      > div {
        width: 100%;
        margin: 0 auto;
        text-align: center;

        > object {
          height: 75px;
          width: 275px;
        }
      }
    }
  }
  .loginMain {
    // mainWrapper
    > div {
      @include flexbox(column, center, center);

      // loginInfoBlock
      > div {
        @include flexbox(column, center, center);
        width: 100%;
      }
    }
  }
}

/**************************
FEED PAGE
**************************/

@media screen and (max-width: 920px) {
  .feedMain {
    // feedContent
    > div {
      > section {
        // feedPostBlock
        > div {
          width: 100%;
          // div containing user and description blocks
          > div:first-of-type {
            // post description block
            > div:last-of-type {
              width: 98%;
              font-size: 2.75vw;
              border-bottom: 2vw solid $wt2;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 850px) {
  .feedHeader {
    height: 175px;
    // feedHeaderBlock
    > div {
      width: 100%;
      @include flexbox(row, space-around, center);
      > div {
        height: auto;
        width: 33%;
        height: 33.33%;
      }

      > div:first-of-type {
        width: 100%;
        height: 33.33%;

        > a {
          height: 100%;
          width: 35%;

          > img {
            height: 100%;
            width: 100%;
          }
        }
      }

      > div:nth-of-type(3) {
        display: none;
      }

      > div:nth-of-type(2) {
        width: 100%;
      }

      > div:nth-of-type(4) {
        width: 50%;
        > a {
          width: 80%;
          height: 80%;
        }
      }
      > div:nth-of-type(5) {
        width: 50%;
      }
    }
  }

  .feedMain {
    // feedContent
    > div {
      > section {
        width: 100%;
        // feedPostBlock
        > div {
          width: 98%;
          // div containing user and description blocks
          > div:first-of-type {
            // post user block
            > div:first-of-type {
              > a {
                > div {
                  width: 98%;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .feedHeader {
    height: 175px;
    // feedHeaderBlock
    > div {
      width: 100%;
      @include flexbox(row, space-around, center);
      > div {
        height: auto;
        width: 33%;
        height: 66.66%;
      }

      > div:first-of-type {
        width: 100%;
        height: 33.33%;

        > a {
          height: 100%;
          width: 35%;

          > img {
            height: 100%;
            width: 100%;
          }
        }
      }

      > div:nth-of-type(2) {
        width: 100%;
        height: 33.33%;
      }

      > div:nth-of-type(4),
      > div:nth-of-type(5) {
        height: 33.33%;
      }
    }
  }

  .feedAside {
    // feed filter main
    > div:first-of-type {
      font-size: 0.9rem;
      // filter parameters
      > div {
        width: 95%;

        > div {
          @include flexbox(column, center, center);

          > div {
            @include flexbox(row, space-between, center);
            width: 75%;

            > div {
              width: 50%;
              text-align: center;
            }

            > label {
              width: 50%;

            }
          }

          > input[type=text] {
            width: 75%;

            &:first-of-type {
              margin-bottom: 10px;
            }
          }
        }
      }
    }
  }

  .feedMain {
    // feedContent
    > div {
      > section {
        // feedPostBlock
        > div {
          height: 300px;
          @include flexbox(column, center, center);
          // div containing user and description blocks
          > div:first-of-type {
            order: 2;
            width: 100%;
            height: 75%;
            // post description block
            > div:first-of-type {
              display: none;
            }

            > div:last-of-type {
              position: relative;
              height: 100%;
              font-size: 3.75vw;

              .queryTimestamp {
                width: auto;
                height: auto;
                display: inline-block;
                position: absolute;
                bottom: 0;
                right: 0;
                color: gray;
                font-size: 0.75rem;
              }
            }
          }

          > div:last-of-type {
            width: 100%;
            height: 25%;
            order: 1;
            position: relative;
            @include flexbox(row, space-between, center);
            flex-wrap: wrap;

            > div {
              width: 30%;
            }

            > div:first-of-type {
              position: relative;
              height: 42.5%;
              width: 100%;

              a {
                height: 100%;
                width: 100%;
                padding: 5px 0;
                text-align: center;
                background-color: $lightgray;
                @include transition;

                &:hover {
                  background-color: $green;
                  color: $wt2;
                }

                img {
                  display: none;
                }
              }
            }

            > div:nth-of-type(2) {
              position: relative;
              width: 100%;
              height: 57.5%;
              @include flexbox(row, center, flex-start);

              > a:first-of-type {
                padding-top: 5px;
                display: inline-block;
                width: auto;
                @include transition;

                &:hover {
                  color: $green;
                }

                > div {
                  @include flexbox(row, center, center);

                  > img {
                    display: inline-block;
                    width: 27.5px;
                    height: 27.5px;
                    border-radius: 50%;
                    position: absolute;
                    left: 2.5px;
                    top: 2px;
                  }
                }
              }

              > a:last-of-type {
                width: auto;
                text-align: center;
                position: absolute;
                right: 2.5px;
                top: 0;
                > i {
                  margin-left: 10px;
                  font-size: 1.25rem;
                }
              }
            }

            > div:last-of-type {
              display: none;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .feedMain {
    // feedContent
    > div {
      > section {
        // feedPostBlock
        > div {
          // div containing user and description blocks
          > div:first-of-type {
            // post description block
            > div:last-of-type {
              font-size: 4vw;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .feedHeader {
    height: 175px;
    // feedHeaderBlock
    > div {
      width: 100%;
      @include flexbox(row, space-around, center);
      > div {
        height: auto;
        width: 33%;
        height: 33.33%;
      }

      > div:first-of-type {
        width: 100%;

        > a {
          height: 100%;
          width: 50%;
        }
      }

      > div:nth-of-type(2) {
        width: 100%;
      }

      > div:nth-of-type(4) {
        width: 50%;
        > a {
          width: 80%;
          height: 80%;
        }
      }
      > div:nth-of-type(5) {
        width: 50%;
      }
    }
  }

  .feedAside {
    // feed filter main
    > div:first-of-type {
      // filter parameters
      > div {
        > div {
          > div {
            width: 95%;
          }

          > input[type=text] {
            width: 95%;
          }
        }
      }
    }
  }

  .feedMain {
    // feedContent
    > div {
      > section {
        // feedPostBlock
        > div {
          // div containing user and description blocks
          > div:first-of-type {
            // post description block
            > div:first-of-type {
            }

            > div:last-of-type {
              font-size: 5vw;
            }
          }

          > div:last-of-type {
            > div:nth-of-type(2) {
              > a {
                div {
                  > h4 {
                    font-size: 0.75rem;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

/**************************
POST PAGE
**************************/

@media screen and (max-width: 850px) {
  .postHeader {
    height: 400px;

    .postHeaderSearchBlock {
      height: 150px;
      @include flexbox(column, center, center);

      > div:first-of-type {
        height: 65%;
        width: auto;

        > a {
          > img {
            height: 75px;
            width: 275px;
          }
        }
      }

      > div:last-of-type {
        height: 35%;
        max-width: 98%;
        > input {
          height: 100%;
          width: 100%;
        }
      }
    }
    .postHeaderGamesBlock {
      height: 250px;

      .postHeaderGamesWrapper {
        padding: 37.5px 0;
      }
    }
  }

  .postMain {
    // postMainBlock
    > div:first-of-type {
      width: 98%;
      > div {
        > div {
          font-size: 1.5rem;
        }

        > div:last-of-type {

          > label {
            width: 100%;
            text-align: center;
          }

          > textarea {
            width: 98%;
          }
        }
      }
    }

    > div:last-of-type {
      width: 98%;
    }
  }
}

@media screen and (max-width: 650px) {
  .postMain {
    // postMainBlock
    > div:first-of-type {
      > div {
        > div {
          font-size: 1rem;
        }

        > div:first-of-type {
          > a {
            > img {
              height: 40px;
              width: 40px;
            }
          }
        }

        > div:nth-of-type(2) {
          > a {
            font-size: 1rem;
          }
        }

        > div:last-of-type {
          > label {
            font-size: 0.7rem;
          }

          #postErrorBlock {
            height: 100px;
            padding-top: 25px;
            padding-bottom: 5px;
            width: 98%;
            font-size: 0.65rem;

            > span {
              left: auto;
              top: -25px;
              width: 100%;
              text-align: center;
            }
          }
        }
      }
    }
  }
}

/**************************
REDIRECT PAGE
**************************/

@media screen and (max-width: 800px) {

.redirectContentWrap .redirectContent .bonk {
    top: 30px;
    right: 80px;
}

.redirectContentWrap .redirectContent .redirect #oops {
    font-size: 3vw;
}

.redirectContentWrap .redirectContent .spyImg img {
    position: relative;
    left: 10px;
}
}

@media screen and (max-width: 600px) {

  .redirectContentWrap .redirectContent {
    height: 60vh;
  }

  .redirectContentWrap .redirectContent .bonk img {
    height: 115px;
    width: 115px;
  }

}

@media screen and (max-width: 500px) {

  .redirectContentWrap .redirectContent .redirect {
    height: 100%;
  }

  .redirectContentWrap .redirectContent .redirect #oops .redirectLogBtn {
    width: 100%;
  }

  .redirectContentWrap .redirectContent .redirect #oops {
    position: static;
    width: 50%;
    height: 60%;
    font-size: 20px;
  }

  .redirectContentWrap .redirectContent .spyImg {
    display: none;
    width: 0;
  }

  .redirectContentWrap .redirectContent .redirect {
    width: 100%;
  }

  .redirectContentWrap .redirectContent .redirect {
    @include flexbox(row, center, center);
  }

  .redirectContentWrap .redirectContent .bonk {
      top: 0px;
      right: 15%;
  }



}

@media screen and (max-width: 400px) {
  .redirectContentWrap .redirectContent .redirect #oops {
    position: static;
    width: 80%;
    height: 60%;
    font-size: 20px;
}
}

@media screen and (max-width: 400px) {
  .postMain {
    // postMainBlock
    > div:first-of-type {
      > div {
        > div {
          font-size: 0.8rem;
        }

        > div:nth-of-type(2) {
          > a {
            font-size: 0.8rem;
          }
        }
      }
    }
  }
}

/**************************
ACCOUNT PAGE
**************************/

@media screen and (max-width: 1000px) {
  .libraryWrapper {
    > div {
      width: 50%;
    }
  }
}

@media screen and (max-width: 920px) {
  .accountPostBlock {
    width: 100%;

    > div:first-of-type {
      > div:last-of-type {
        width: 98%;
        font-size: 2.75vw;
        border-bottom: 2vw solid $wt2;
      }
    }
  }
}

@media screen and (max-width: 850px) {
  .accountHeader {
    .accountButtonsWrapper {
      > div:first-of-type {
        width: auto;
        > a {
          > img {
            width: 170px;
            height: 58px;
          }
        }
      }

      > div:last-of-type {
        width: 50%;
      }
    }
  }

  .accountPostBlock {
    width: 98%;

    > div:first-of-type {
      > div:first-of-type {
        > a {
          > div {
            width: 98%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .libraryWrapper {
    width: 98%;
    > div {
      width: 50%;
    }
  }

  .accountPostBlock {
    height: 300px;
    @include flexbox(column, center, center);
    // div containing user and description blocks
    > div:first-of-type {
      order: 2;
      width: 100%;
      height: 75%;
      // post description block
      > div:first-of-type {
        display: none;
      }

      > div:last-of-type {
        position: relative;
        height: 100%;
        font-size: 5vw;

        .queryTimestamp {
          width: auto;
          height: auto;
          display: inline-block;
          position: absolute;
          bottom: 0;
          right: 0;
          color: gray;
          font-size: 0.75rem;
        }
      }
    }

    > div:last-of-type {
      width: 100%;
      height: 25%;
      order: 1;
      position: relative;
      @include flexbox(row, space-between, center);
      flex-wrap: wrap;

      > div {
        width: 30%;
      }

      > div:first-of-type {
        position: relative;
        height: 42.5%;
        width: 100%;

        a {
          height: 100%;
          width: 100%;
          padding: 5px 0;
          text-align: center;
          background-color: $lightgray;
          @include transition;

          &:hover {
            background-color: $green;
            color: $wt2;
          }

          img {
            display: none;
          }
        }
      }

      > div:nth-of-type(2) {
        position: relative;
        width: 100%;
        height: 57.5%;
        @include flexbox(row, center, flex-start);

        > a:first-of-type {
          padding-top: 5px;
          display: inline-block;
          width: auto;
          @include transition;

          &:hover {
            color: $green;
          }

          > div {
            @include flexbox(row, center, center);

            > img {
              display: inline-block;
              width: 27.5px;
              height: 27.5px;
              border-radius: 50%;
              margin-right: 5px;
            }

            > h4 {
              margin-left: 5px;
            }
          }
        }

        > i {
          width: auto;
          position: absolute;
          right: 2.5px;
          font-size: 1.25rem;
        }
      }

      > div:last-of-type {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .accountHeader {
    height: 1000px;

    .accountButtonsWrapper {
      height: 15%;
      flex-wrap: wrap;
      > div:first-of-type {
        margin-top: 25px;
        height: 50%;
        width: 100%;
      }

      > div:last-of-type {
        width: 100%;
        height: 50%;
      }
    }

    .accountProfileInfo {
      height: 50%;
    }

    .accountProfileStats {
      height: 50%;
      @include flexbox(column, center, center);

      > div {
        height: 33.33%;
        width: auto;
      }
    }
  }

  .libraryWrapper {
    width: 100%;
    > div {
      width: 100%;
    }
  }
}

@media screen and (max-width: 500px) {
  .accountPostBlock {
    > div:first-of-type {
      > div:last-of-type {
        font-size: 5vw;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .accountPostBlock {
    > div:first-of-type {
      > div:last-of-type {
        font-size: 5.5vw;
      }
    }
  }
}
