/**************************
SASS VARIABLES
**************************/
/**************************
SETUP
**************************/
*, *:before, *:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box; }

a {
  text-decoration: none;
  color: #212121; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif; }

h1, h2, h3, h4, h5, h6, li, ul {
  margin: 0;
  padding: 0; }

ul {
  list-style-type: none; }

img {
  max-width: 100%; }

html {
  font-size: 24px;
  font-family: "Roboto Slab", serif;
  color: #212121; }

html, body {
  height: 100%;
  width: 100%; }

.clearfix {
  overflow: auto; }

#pageWrapper {
  max-width: 960px;
  margin: 0 auto; }

/**************************
MIXINS
**************************/
/**************************
PARTIALS
**************************/
/**************************
HEADER
**************************/
.loginHeader {
  position: relative;
  height: 500px; }
  .loginHeader .video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    width: 1400px;
    height: 1000px;
    z-index: -100;
    transform: translate(-50%, -50%); }
  .loginHeader .loginBlock {
    font-family: "Roboto", sans-serif;
    border: 5px solid #7AAF36;
    color: rgba(255, 255, 255, 0.75);
    position: absolute;
    height: 100px;
    background-color: #242424;
    width: 300px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: -50px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: space-around;
    -webkit-justify-content: space-around;
    -ms-flex-pack: space-around;
    justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    .loginHeader .loginBlock:hover .loginAbso {
      opacity: 0; }
    .loginHeader .loginBlock span {
      font-size: 0.5rem; }
    .loginHeader .loginBlock img {
      height: 40%;
      width: 75%; }
    .loginHeader .loginBlock .loginAbso {
      opacity: 1;
      transition: all .25s ease;
      -webkit-transition: all .25s ease;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: #7AAF36;
      font-size: 2rem;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; }

/**************************
MAIN
**************************/
.loginMain {
  background-image: url("../media/triangles.png");
  border-top: 5px solid #7AAF36;
  padding-top: 100px;
  padding-bottom: 200px; }
  .loginMain .mainWrapper {
    width: 85%;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: space-around;
    -webkit-justify-content: space-around;
    -ms-flex-pack: space-around;
    justify-content: space-around;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch; }
    .loginMain .mainWrapper .loginInfoBlock {
      color: rgba(255, 255, 255, 0.75);
      width: 32%; }
      .loginMain .mainWrapper .loginInfoBlock .loginInfoImage {
        padding-top: 10px;
        text-align: center; }
        .loginMain .mainWrapper .loginInfoBlock .loginInfoImage img {
          border-radius: 50%; }
      .loginMain .mainWrapper .loginInfoBlock .loginInfoContent {
        padding: 10px 5px;
        font-size: 0.9rem; }

/**************************
FOOTER
**************************/
.loginFooter {
  background-color: #181818;
  color: rgba(255, 255, 255, 0.75);
  font-size: 0.6rem;
  height: 100px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

/**************************
HEADER
**************************/
.feedHeader {
  background-image: url("../media/tetris.jpg");
  background-position: 50% 55%;
  position: relative;
  height: 500px;
  color: rgba(255, 255, 255, 0.75);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .feedHeader .feedHeaderBlock {
    height: 70%;
    width: 90%;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: space-between;
    -webkit-justify-content: space-between;
    -ms-flex-pack: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    .feedHeader .feedHeaderBlock > div {
      width: 25%;
      height: 100%; }
    .feedHeader .feedHeaderBlock > div:nth-of-type(2) {
      width: 50%; }
    .feedHeader .feedHeaderBlock .feedHeader1 {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; }
      .feedHeader .feedHeaderBlock .feedHeader1 .feedUserImage img {
        border-radius: 50%; }
    .feedHeader .feedHeaderBlock .feedHeader2 {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; }
      .feedHeader .feedHeaderBlock .feedHeader2 > div {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: stretch;
        -webkit-justify-content: stretch;
        -ms-flex-pack: stretch;
        justify-content: stretch;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center; }
      .feedHeader .feedHeaderBlock .feedHeader2 .feedUserName {
        height: 25%;
        justify-content: center; }
      .feedHeader .feedHeaderBlock .feedHeader2 .feedUserDescription {
        height: 75%;
        max-height: 75%;
        padding: 10px;
        overflow: hidden;
        justify-content: flex-start; }
    .feedHeader .feedHeaderBlock .feedHeader3 {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; }
      .feedHeader .feedHeaderBlock .feedHeader3 button {
        height: 50%;
        width: 95%;
        margin: 0 auto;
        font-size: 4rem;
        font-family: "Roboto", sans-serif;
        background-color: #7AAF36;
        border: none;
        -webkit-transition: all .25s ease;
        transition: all .25s ease; }
        .feedHeader .feedHeaderBlock .feedHeader3 button:hover {
          background-color: #96d642; }

/**************************
MAIN
**************************/
nav {
  height: 75px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  nav > div {
    height: 100%;
    width: 50%;
    background-color: #242424;
    font-size: 2rem;
    font-family: "Roboto", sans-serif;
    color: rgba(255, 255, 255, 0.75);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
  nav > div:first-of-type {
    background-color: #4D4D4D; }

/**************************
MAIN
**************************/
.feedMain {
  position: relative;
  min-height: 800px;
  height: 800px; }
  .feedMain .feedContent {
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    .feedMain .feedContent > * {
      height: 100%; }
    .feedMain .feedContent aside {
      width: 25%;
      background-color: blue; }
    .feedMain .feedContent section {
      width: 75%;
      background-image: url("../media/triangles.png"); }

/**************************
FOOTER
**************************/
.loginFooter {
  background-color: #181818;
  color: rgba(255, 255, 255, 0.75);
  font-size: 0.6rem;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center; }

.accountHeader {
  position: relative;
  height: 500px;
  background: url("../media/subtle_white_feathers.png");
  background-position: center;
  background-attachment: fixed;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .accountHeader .accountProfilePicture img {
    border-radius: 50%;
    box-shadow: 0px 1px 5px 1px black; }
  .accountHeader .accountSideNav {
    position: absolute;
    font-size: 1.5em;
    color: #7AAF36;
    height: 100%;
    right: 25px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    .accountHeader .accountSideNav i {
      margin-top: 25px;
      margin-bottom: 25px; }

.accountNav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 75px;
  width: 100vw;
  -webkit-transition: all .25s ease;
  transition: all .25s ease; }
  .accountNav .navBtn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    color: whitesmoke;
    background-color: #242424;
    border: 5px solid #7AAF36;
    height: 100%;
    -webkit-transition: all .25s ease;
    transition: all .25s ease; }
  .accountNav .navBtnActive {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    color: whitesmoke;
    background-color: #7AAF36;
    border: 5px solid #7AAF36;
    height: 100%;
    -webkit-transition: all .25s ease;
    transition: all .25s ease; }
  .accountNav .navBtn:hover {
    background-color: #7AAF36; }
  .accountNav .navBtn:active {
    background-color: #242424; }
  .accountNav .navBtnActive:hover {
    background-color: #7AAF36; }
  .accountNav .navBtnActive:active {
    background-color: #242424; }

.infoWrap {
  min-height: 800px;
  width: 100vw; }
  .infoWrap .info {
    width: 100%;
    height: 100%; }

.siteTitle {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: bolder;
  top: 2.5%;
  left: 2.5%;
  position: absolute;
  z-index: 1;
  color: white;
  text-shadow: #7AAF36 0.01em 0.01em 0, #7AAF36 0.02em 0.02em 0, #7AAF36 0.03em 0.03em 0, #7AAF36 0.04em 0.04em 0, #7AAF36 0.05em 0.05em 0, #7AAF36 0.06em 0.06em 0, #7AAF36 0.07em 0.07em 0, #7AAF36 0.08em 0.08em 0, #7AAF36 0.09em 0.09em 0, #7AAF36 0.1em 0.1em 0; }

.loginFooter {
  background-color: #181818;
  color: rgba(255, 255, 255, 0.75);
  font-size: 0.6rem;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center; }

/**************************
GLOBALS
**************************/
.siteTitle {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: bolder;
  top: 2.5%;
  left: 2.5%;
  position: absolute;
  z-index: 1;
  color: white;
  text-shadow: #7AAF36 0.01em 0.01em 0, #7AAF36 0.02em 0.02em 0, #7AAF36 0.03em 0.03em 0, #7AAF36 0.04em 0.04em 0, #7AAF36 0.05em 0.05em 0, #7AAF36 0.06em 0.06em 0, #7AAF36 0.07em 0.07em 0, #7AAF36 0.08em 0.08em 0, #7AAF36 0.09em 0.09em 0, #7AAF36 0.1em 0.1em 0; }
  .siteTitle a {
    color: white; }

/*# sourceMappingURL=styles.css.map */
