<header class="loginHeader">
  <!-- VIDEO GOES HERE -->

  <div class="siteTitle">
    <a href="">ELEFGEE</a>
  </div>


  <div class="loginBlock">
    <img src="media/steam-sm.png">
    <span>Steam account required</span>
    <div ng-click="authenticateSteam()" class="loginAbso">
      LOGIN
    </div>
  </div>
</header>
<main class="loginMain">
  <div class="mainWrapper">
    <div class="loginInfoBlock">
      <div class="loginInfoImage">
        <img src="http://www.placehold.it/200x200/777777">
      </div>
      <div class="loginInfoContent">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis magnam quaerat adipisci ad quibusdam qui et omnis aut incidunt culpa non laudantium ab laboriosam soluta, explicabo, autem amet quos suscipit.
      </div>
    </div>
    <div class="loginInfoBlock">
      <div class="loginInfoImage">
        <img src="http://www.placehold.it/200x200/777777">
      </div>
      <div class="loginInfoContent">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis amet quo animi asperiores nobis labore eos, quibusdam necessitatibus autem sequi nam, natus inventore optio? Debitis adipisci, nulla dicta itaque saepe.
      </div>
    </div>
    <div class="loginInfoBlock">
      <div class="loginInfoImage">
        <img src="http://www.placehold.it/200x200/777777">
      </div>
      <div class="loginInfoContent">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati dolorum, enim reprehenderit modi non veritatis, provident veniam tempore officia, error, voluptas quos incidunt. Maxime deserunt veniam impedit et, expedita ut!
      </div>
    </div>
  </div>
</main>
<footer class="loginFooter">
  &copy; 2015 Elefgee, All Rights Reserved
</footer>
