<header class="loginHeader">
  <!-- VIDEO GOES HERE -->
  <video class="video" autoplay loop id="bgvid" muted>
    <source src="https://avvimeo-a.akamaihd.net/07608/481/56420563.mp4?token2=1441230295_4c4f1e6ca0193f38fba4ad8e1a0878ac&aksessionid=0cedb9a7b4be1291&ns=4" type="video/webm">
    <source src="https://avvimeo-a.akamaihd.net/07608/481/56420563.mp4?token2=1441230295_4c4f1e6ca0193f38fba4ad8e1a0878ac&aksessionid=0cedb9a7b4be1291&ns=4" type="video/mp4">
  </video>

  <div class="loginHeaderLogoWrapper">
    <div>
      <object class= "siteTitleLogin" type="image/svg+xml" data="../media/elefgee.svg">
        <img src="../media/elefgee.png" alt="No SVG support">
      </object>
    </div>
  </div>


  <div class="loginBlock">
    <img src="media/steam-sm.png"></a>
    <span>Steam account required</span>
    <a id="loginAbso" href="/auth/steam"><div ng-click="authenticateSteam()" class="loginAbso">
      LOGIN
    </div></a>
  </div>
</header>
<main class="loginMain">
  <div class="mainWrapper">
    <div class="loginInfoBlock">
      <div class="loginInfoImage">
        <div class="loginPicture" id="picture1"></div>
      </div>
      <div class="loginInfoContent">
        Find friends
      </div>
    </div>
    <div class="loginInfoBlock">
      <div class="loginInfoImage">
        <div class="loginPicture" id="picture2"></div>
      </div>
      <div class="loginInfoContent">
        Team up
      </div>
    </div>
    <div class="loginInfoBlock">
      <div class="loginInfoImage">
        <div class="loginPicture" id="picture3"></div>
      </div>
      <div class="loginInfoContent">
        Play games
      </div>
    </div>
  </div>
</main>
<footer>
  &copy; 2015 Elefgee, All Rights Reserved
</footer>
