<header class="loginHeader">
  <!-- VIDEO GOES HERE -->

  <div class="siteTitleLogin">
    <img src="../media/elefgee.png" alt="">
  </div>


  <div class="loginBlock">
    <img src="media/steam-sm.png"></a>
    <span>Steam account required</span>
    <a href="/auth/steam"><div ng-click="authenticateSteam()" class="loginAbso">
      LOGIN
    </div></a>
  </div>
</header>
<main class="loginMain">
  <div class="mainWrapper">
    <div class="loginInfoBlock">
      <div class="loginInfoImage">
        <div class="loginPicture" id="picture1"></div>
      </div>
      <div class="loginInfoContent">
        Find friends
      </div>
    </div>
    <div class="loginInfoBlock">
      <div class="loginInfoImage">
        <div class="loginPicture" id="picture2"></div>
      </div>
      <div class="loginInfoContent">
        Team up
      </div>
    </div>
    <div class="loginInfoBlock">
      <div class="loginInfoImage">
        <div class="loginPicture" id="picture3"></div>
      </div>
      <div class="loginInfoContent">
        Play games
      </div>
    </div>
  </div>
</main>
<footer>
  &copy; 2015 Elefgee, All Rights Reserved
</footer>
