<header class="redirectHeader">
  <div class="redirectHeaderBlock">
    <div class="redirectHeaderLogo">
      <a href="#/login"><img src="media/elefgee.png"></a>
    </div>
  </div>
</header>

<div class="redirectContentWrap">
  <div class="redirectContent">
    <div class="spyImg">
      <img src="../media/scoutTF2.png" alt="">
    </div>
    <div class="redirect">
      <span id="oops">
        <h1>Oops!</h1>
        <p>Looks like you need to log in to view this page, knucklehead!</p>
        <a href="#/login">
          <div class="redirectLogBtn">
            Login
          </div>
        </a>
      <span>
    </div>
    <div class="bonk">
      <img src="../media/bonk.png" alt="">
    </div>
  </div>
</div>
