<header class="feedHeader">
  <div class="feedHeaderBlock">
    <div class="feedHeaderLogo">
      <a href="#/feed"><img src="media/elefgee.png"></a>
    </div>
    <div class="feedHeaderName">
      <a href="#/account/{{ me.id }}">{{ me.displayName }}</a>
    </div>
    <div class="feedHeaderImage">
      <a href="#/account/{{ me.id }}"><img ng-src="{{ me.photos[2].value }}"></a>
    </div>
    <div class="feedHeaderPost">
      <a href="#/post">LFG</a>
    </div>
    <div class="feedHeaderLogout">
      <a href="/logout">LOGOUT</a>
    </div>
  </div>
</header>
<nav>
  <div class="feedNavAll">
    ALL
  </div>
  <div class="feedNavOwned">
    OWNED
  </div>
</nav>
<main class="feedMain">
  <div class="feedContent">
    <aside>
      <div class="feedFilterMain">
        <h3>Filter</h3>
        <div class="filterParameters">
          <div>
            <input type="checkbox" name="filterParam1">
            <label for="filterParam1">Parameter 1</label>
          </div>
          <div>
            <input type="checkbox" name="filterParam2">
            <label for="filterParam2">Parameter 2</label>
          </div>
          <div>
            <input type="checkbox" name="filterParam3">
            <label for="filterParam3">Parameter 3</label>
          </div>
          <div>
            <input type="checkbox" name="filterParam4">
            <label for="filterParam4">Parameter 4</label>
          </div>
          <div>
            <input type="checkbox" name="filterParam5">
            <label for="filterParam5">Parameter 5</label>
          </div>
        </div>
      </div>
    </aside>
    <section>
      <div class="feedPostBlock" ng-repeat="i in getNumber(number) track by $index">
        <div class="feedPostImage">
          <a href="#/account">
            <img src="https://www.placehold.it/200x200">
          </a>
        </div>
        <div class="feedPostInfo1">
          <div class="feedPostName">
            <h4>Mr. Gameman</h4>
          </div>
          <div class="feedPostDescription">
            Looking to own some noobs in TF2! Please respond only if you are above the age of 30, have at least 100 hours played, and can withstand constant sobbing.
          </div>
        </div>
        <div class="feedPostInfo2">
          <div class="feedPostGame">
            Team Fortress 2
          </div>
          <div class="feedPostAction">
            <a href="#/"><i class="fa fa-user"></i></a>
          </div>
          <div class="feedPostTime">
            2 hours ago
          </div>
        </div>
      </div>
    </section>
  </div>
</main>
<footer class="loginFooter">
  &copy; 2015 Elefgee, All Rights Reserved
</footer>
