<div ng-if="loggedIn(me.displayName)">
<header class="feedHeader">
  <div class="feedHeaderBlock">
    <div class="feedHeaderLogo">
      <a href="#/feed"><img src="media/elefgee.png"></a>
    </div>
    <div class="feedHeaderName">
      <a href="#/account/{{ me.id }}">{{ me.displayName }}</a>
    </div>
    <div class="feedHeaderImage">
      <a href="#/account/{{ me.id }}"><img ng-src="{{ me.photos[2].value }}"></a>
    </div>
    <div class="feedHeaderPost">
      <a href="#/post">LFG</a>
    </div>
    <div class="feedHeaderLogout">
      <a href="/logout">LOGOUT</a>
    </div>
  </div>
</header>
<nav>
  <div class="navBtn feedNavAll" ng-class="isTrue('all') ? 'navBtnActive' : 'navBtn'" ng-click="feedNavClick('all')">
    ALL
  </div>
  <div class="navBtn feedNavOwned" ng-class="isTrue('owned') ? 'navBtnActive' : 'navBtn'" ng-click="feedNavClick('owned')">
    OWNED
  </div>
</nav>
<aside class="feedAside">
  <div class="feedFilterMain">
    <div class="filterParameters">
      <h3>Filter</h3>
      <div>
        <div>
          <input type="checkbox" name="filterParam1">
          <label for="filterParam1">Parameter 1</label>
        </div>
        <div>
          <input type="checkbox" name="filterParam2">
          <label for="filterParam2">Parameter 2</label>
        </div>
        <div>
          <input type="checkbox" name="filterParam3">
          <label for="filterParam3">Parameter 3</label>
        </div>
        <div>
          <input type="checkbox" name="filterParam4">
          <label for="filterParam4">Parameter 4</label>
        </div>
        <div>
          <input type="checkbox" name="filterParam5">
          <label for="filterParam5">Parameter 5</label>
        </div>
      </div>
    </div>
  </div>
</aside>
<main class="feedMain">
  <div class="feedContent">
    <section>
      <div class="feedPostBlock" ng-repeat="post in allPosts | orderBy: 'timestamp':true" ng-if='(navs[0].active)'>
        <div>
          <div class="feedPostUser">
            <a href="#/account/{{ post.userData.id }}">
              <div>
                <img ng-src="{{ post.userData.photos[2].value }}">
                <h4>{{ post.userData.displayName }}</h4>
              </div>
            </a>
          </div>
          <div class="feedPostDescription">
            {{ post.text }}
          </div>
        </div>
        <div>
          <div class="feedPostGame">
            <a target="_blank" href="http://www.steamcommunity.com/app/{{ post.appid }}">
              <img ng-src="{{ post.pictureLink }}" err-src="https://placeholdit.imgix.net/~text?txtsize=36&bg=cccccc&txt=Image+Unavailable&w=250&h=105&txttrack=0">
            </a>
          </div>
          <div class="feedPostSteam">
            <a target="_blank" href="http://www.steamcommunity.com/profiles/{{ post.userData.id }}">
              <i class="fa fa-steam-square"></i>
            </a>
          </div>
          <div class="feedPostTimestamp">
            <span am-time-ago="post.timestamp"></span>
          </div>
        </div>
      </div>

      <!-- Owned Games Posts -->

      <div class="feedPostBlock" ng-repeat="post in myOwnedPosts | orderBy: 'timestamp':true" ng-if='(navs[1].active)'>
        <div>
          <div class="feedPostUser">
            <a href="#/account/{{ post.userData.id }}">
              <div>
                <img ng-src="{{ post.userData.photos[2].value }}">
                <h4>{{ post.userData.displayName }}</h4>
              </div>
            </a>
          </div>
          <div class="feedPostDescription">
            {{ post.text }}
          </div>
        </div>
        <div>
          <div class="feedPostGame">
            <a target="_blank" href="http://www.steamcommunity.com/app/{{ post.appid }}">
              <img ng-src="{{ post.pictureLink }}" err-src="https://placeholdit.imgix.net/~text?txtsize=36&bg=cccccc&txt=Image+Unavailable&w=250&h=105&txttrack=0">
            </a>
          </div>
          <div class="feedPostSteam">
            <a target="_blank" href="http://www.steamcommunity.com/profiles/{{ post.userData.id }}">
              <i class="fa fa-steam-square"></i>
            </a>
          </div>
          <div class="feedPostTimestamp">
            <span am-time-ago="post.timestamp"></span>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>
<footer class="loginFooter">
  &copy; 2015 Elefgee, All Rights Reserved
</footer>
</div>
