<header class="postHeader">
  <div class="siteTitleFeed">
    <a href="#/feed"><img src="../media/elefgee.png" alt=""></a>
  </div>

  <div class="postHeaderSearchBlock">
    <div class="postHeaderSearch">
      <input type="text" name="postSearch">
      <i class="fa fa-search"></i>
    </div>
  </div>

  <div class="postHeaderGamesBlock">
    <div class="postHeaderGamesWrapper">
      <div class="postHeaderGameBlock" ng-repeat="game in games.games" ng-click="selectGame($event)" data-id="{{ game.appid }}">
        <i class="fa fa-check"></i>
        <div>
          <img ng-src="{{ game.pictureLink }}">
        </div>
        <i class="fa fa-check"></i>
        <div>
          <div>
            {{ game.name }}
          </div>
        </div>
      </div>
    </div>
  </div>

</header>
<main class="postMain" ng-controller="FeedController">
  <div class="postMainBlock">
    <div>
      <div class="postBlockUser">
        <a href="#/account">
          <img ng-src="{{me.photos[2].value}}">
        </a>
        <span>{{ me.displayName }}</span>
      </div>
      <div class="postBlockGame" ng-controller="PostController">
        <a href="http://www.steamcommunity.com/app/{{selectedGame[0].appid}}">
          {{ selectedGame[0].name }}
        </a>
      </div>
      <div class="postBlockDescription">
        <label for="postDescription">Enter a description for your LFG post:</label>
        <textarea maxlength="300" name="postDescription" ng-model="post.text"></textarea>
      </div>
    </div>
  </div>
  <div class="postMainSubmitBlock">
    <button id="postMainSubmit" ng-click='addPost(post)'>Submit LFG post</button>
  </div>
</main>
<footer>
  &copy; 2015 Elefgee, All Rights Reserved
</footer>
