<header class="postHeader">
  <div class="siteTitleFeed">
    <a href="#/feed"><img src="../media/elefgee.png" alt=""></a>
  </div>

  <div class="postHeaderSearchBlock">
    <div class="postHeaderSearch">
      <input type="text" name="postSearch">
      <i class="fa fa-search"></i>
    </div>
  </div>

  <div class="postHeaderGamesBlock">
    <div class="postHeaderGamesWrapper">
      <div class="postHeaderGameBlock" ng-repeat="game in games.games" ng-click="selectGame($event)">
        <i class="fa fa-check"></i>
        <div>
          <img ng-src="{{ game.pictureLink }}">
        </div>
        <div>
          {{ game.name }}
        </div>
      </div>
    </div>
  </div>

</header>
<main class="postMain" ng-controller="FeedController">
  <div class="postMainBlock">
    <div>
      <div class="postBlockImage">
        <a href="#/account">
          <img ng-src="{{me.identifier}}">
        </a>
      </div>
      <!-- <div class="postBlockScore">
        85%
      </div> -->
    </div>
    <div>
      <div class="postBlockName">
        {{ me.displayName }}
      </div>
      <div class="postBlockGame">
        Team Fortress 2
      </div>
      <div class="postBlockDescription">
        <label for="postDescription">Enter a description for your LFG post:</label>
        <textarea maxlength="300" name="postDescription"></textarea>
      </div>
    </div>
  </div>
  <div class="postMainSubmitBlock">
    <button id="postMainSubmit">Submit LFG post</button>
  </div>
</main>
<footer>
  &copy; 2015 Elefgee, All Rights Reserved
</footer>
