<div class="siteTitle">
  <a href="">ELEFGEE</a>
</div>

<div class="accountHeader">
  <div class="accountProfilePicture">
    <img src="http://www.placecage.com/200/200" alt="">
  </div>
  <div class="accountSideNav">
    <i class="fa fa-home"></i>
    <i class="fa fa-user-plus"></i>
    <i class="fa fa-envelope"></i>
  </div>
</div>

<div class="accountNav">
  <div class="navBtn accountAccBtn" ng-class="isTrue('account') ? 'navBtnActive' : 'navBtn'" ng-click="accountNavClick('account')" >
    Account
  </div>
  <div class="navBtn accountLibBtn" ng-class="isTrue('library') ? 'navBtnActive' : 'navBtn'" ng-click="accountNavClick('library')" >
    Library
  </div>
  <div class="navBtn accountPostsBtn" ng-class="isTrue('posts') ? 'navBtnActive' : 'navBtn'" ng-click="accountNavClick('posts')" >
    Posts
  </div>
</div>

<div class="infoWrap">
<div class="info accountInfo" ng-if='(navs[0].active)'>
  ALL DE INFO ON JEW
</div>

<div class="info accountLibrary" ng-if='(navs[1].active)'>
  DER SHULD BE GAMES HUR
</div>

<div class="info accountPosts" ng-if='(navs[2].active)' ng-controller="FeedController">
  <div class="feedPostBlock" ng-repeat="i in getNumber(number) track by $index">
    <div class="feedPostImage">
      <img src="http://www.placehold.it/200x200">
    </div>
    <div class="feedPostInfo1">
      <div class="feedPostName">
        <h4>Mr. Gameman</h4>
      </div>
      <div class="feedPostDescription">
        Looking to own some noobs in TF2! Please respond only if you are above the age of 30, have at least 100 hours played, and can withstand constant sobbing.
      </div>
    </div>
    <div class="feedPostInfo2">
      <div class="feedPostGame">
        Team Fortress 2
      </div>
      <div class="feedPostActions">
        <i class="fa fa-envelope"></i>
        <i class="fa fa-user-plus"></i>
      </div>
      <div class="feedPostTime">
        2 hours ago
      </div>
    </div>
  </div>
</div>
</div>

<footer>
  &copy; 2015 Elefgee, All Rights Reserved
</footer>
