<div class="siteTitle">
  <a href="">ELEFGEE</a>
</div>

<div class="accountHeader">
  <div class="accountProfilePicture">
    <img src="http://www.placecage.com/200/200" alt="">
  </div>
  <div class="accountSideNav">
    <i class="fa fa-home"></i>
    <i class="fa fa-user-plus"></i>
    <i class="fa fa-envelope"></i>
  </div>
</div>

<div class="accountNav">
  <div class="navBtn accountAccBtn">
    Account
  </div>
  <div class="navBtn accountLibBtn">
    Library
  </div>
  <div class="navBtn accountPostsBtn">
    Posts
  </div>
</div>

<div class="infoWrap">
<div class="info accountInfo" >
  ALL DE INFO ON JEW
</div>

<div class="info accountLibrary">
  DER SHULD BE GAMES HUR
</div>

<div class="info accountPosts">
  POSTS SHULD BE HUR
</div>
</div>

<footer class="loginFooter">
  &copy; 2015 Elefgee, All Rights Reserved
</footer>
