<div ng-if="loggedIn(me.displayName)">

<div class="overflow">
<div class="modal hidden">
  <div class="modalContent">
    <div>How was your experience?</div>
    <div class="modalStars">
      <span class="star5 fa-stack fa-lg" ng-click="addUserReview(5)">
        <i id="star1" class="fa fa-star fa-stack-1x"></i>
        <i class="fa fa-star-o fa-stack-1x"></i>
      </span>
      <span class="star4 fa-stack fa-lg" ng-click="addUserReview(4)">
        <i id="star2" class="fa fa-star fa-stack-1x"></i>
        <i class="fa fa-star-o fa-stack-1x"></i>
      </span>
      <span class="star3 fa-stack fa-lg" ng-click="addUserReview(3)">
        <i id="star3" class="fa fa-star fa-stack-1x"></i>
        <i class="fa fa-star-o fa-stack-1x"></i>
      </span>
      <span class="star2 fa-stack fa-lg" ng-click="addUserReview(2)">
        <i id="star4" class="fa fa-star fa-stack-1x"></i>
        <i class="fa fa-star-o fa-stack-1x"></i>
      </span>
      <span class="star1 fa-stack fa-lg" ng-click="addUserReview(1)">
        <i id="star5" class="fa fa-star fa-stack-1x"></i>
        <i class="fa fa-star-o fa-stack-1x"></i>
      </span>
    </div>
    <div id="cancelButton" ng-click="cancelButton()">Cancel</div>
  </div>
</div>

<div class="accountHeader">
  <div class="accountButtonsWrapper">
    <div class="accountHeaderLogo">
      <a href="#/feed"><img src="../media/elefgee.png" alt=""></a>
    </div>
    <div class="accountButtonsBlock">
      <a href="#/post">
        LFG
      </a>
      <a href="/logout">
        LOGOUT
      </a>
    </div>
  </div>
  <div class="accountProfileInfo">
      <a target="_blank" href="http://www.steamcommunity.com/profiles/{{ user.steamId }}">
        <img ng-src="{{ user.picture }}" alt="">
        <h2>{{ user.displayName }}</h2>
      </a>
      <div class="accountRating">
        <div id="rating" ng-click="openModal()">

        </div>
        <span>({{user.raters.length}})</span>
      </div>
      <p id="accountLevel">Level: {{user.level}}</p>
  </div>
  <div class="accountProfileStats">
    <div>
      <div>
        <div>
          {{ user.games.game_count }}
        </div>
      </div>
      <div>
        Game Count
      </div>
    </div>
    <div>
      <div>
        <div>
          {{ user.userInfo.lastlogoff * 1000 | date:'MM/dd' }}
        </div>
      </div>
      <div>
        Last Online
      </div>
    </div>
    <div>
      <div>
        <div>
          {{ user.userInfo.timecreated * 1000 | date:'MM/dd/yy' }}
        </div>
      </div>
      <div>
        Profile Created
      </div>
    </div>
  </div>
</div>

<div class="accountNav">
  <div class="navBtn accountLibBtn" ng-class="isTrue('library') ? 'navBtnActive' : 'navBtn'" ng-click="accountNavClick('library')" >
    LIBRARY
  </div>
  <div class="navBtn accountPostsBtn" ng-class="isTrue('posts') ? 'navBtnActive' : 'navBtn'" ng-click="accountNavClick('posts')" >
    POSTS
  </div>
</div>

<div class="infoWrap">
<div class="info accountLibrary" ng-if='(navs[0].active)'>
  <div class="libraryWrapper">
    <div class="libraryGameBlockWrapper" ng-repeat="game in gamesList">
      <a target="_blank" href="http://www.steamcommunity.com/app/{{ game.appid }}" class="libraryGameBlock" ng-click="selectGame($event)" data-id="{{ game.appid }}">
        <div>
          <img ng-src="{{ game.pictureLink }}" err-src="https://placeholdit.imgix.net/~text?txtsize=36&bg=cccccc&txt=Image+Unavailable&w=250&h=105&txttrack=0">
        </div>
        <div>
          <div>
            {{ game.name }}
          </div>
        </div>
      </a>
        <p id="totalTime">Hours played: {{game.playtime_forever / 60 | number:0}}</p>
    </div>
  </div>
</div>

<div class="info accountPosts" ng-if='(navs[1].active)' ng-controller="FeedController">
  <div class="accountPostBlock" ng-repeat="post in posts | orderBy: 'timestamp':true">
    <div>
      <div class="accountPostUser">
        <a href="#/account/{{ post.userData.id }}">
          <div>
            <img ng-src="{{ post.userData.photos[2].value }}">
            <h4>{{ post.userData.displayName }}</h4>
          </div>
        </a>
      </div>
      <div class="accountPostDescription">
        {{ post.text }}
        <div class="queryTimestamp">
          <span am-time-ago="post.timestamp"></span>
        </div>
      </div>
    </div>
    <div>
      <div class="accountPostGame">
        <a target="_blank" href="http://www.steamcommunity.com/app/{{ post.appid }}">
          <img ng-src="{{ post.pictureLink }}" err-src="https://placeholdit.imgix.net/~text?txtsize=36&bg=cccccc&txt=Image+Unavailable&w=250&h=105&txttrack=0">
          <div>
            {{ post.name }}
          </div>
        </a>
      </div>
      <div class="accountPostSteam">
        <a href="#/account/{{ post.userData.id }}">
          <div>
            <img ng-src="{{ post.userData.photos[2].value }}">
            <h4>{{ post.userData.displayName }}</h4>
          </div>
        </a>
        <i ng-show="post.userData.displayName === me.displayName" class="fa fa-times" ng-click="deletePost(post.timestamp, post.text, post.userData)"></i>
      </div>
      <div class="accountPostTimestamp">
        <span am-time-ago="post.timestamp"></span>
      </div>
    </div>
  </div>
</div>

</div>

<footer>
  &copy; 2015 Elefgee, All Rights Reserved
</footer>
</div>
